/*Reset et bases*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    background-color: #2B2B2B;
    color: #fff;
    font-family:"Roboto";
}
h1 {
    font-size: 30px;
    color: #FFB500;
}    
h2 {
    font-size: 25px;
    color: #c0c0c0;
}
.game-caracts h3 {
  font-size: 20px;
}
a {
  color: #c0c0c0;
}


/*police et selection*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  
::selection {
  color: #2B2B2B;
  background: #FFB500;
}
::-moz-selection {
  color: #2B2B2B;
  background: #FFB500;
}


/*Elements Bases*/
/*Header*/
header {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #2b2b2b;
  border-bottom: 3px solid #c0c0c0;
  padding: 10px;
  margin-bottom: 90px;
  width: 100%;
  height: 75px;
  z-index: 1;
}
.logo {
  width: 51px;
  border-radius: 10px;
}
header a {
  display: flex;
  align-items: center;
  justify-content: center;
}
header p {
  font-family: arial;
  font-size: 18px;
  color: #c0c0c0;
}

header a p {
  margin-left: 10px;
  color: #c0c0c0;
}
/*Button Menu*/
#check {
  display: none;
}
.buttonMenu {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: linear-gradient(to top right, #FFB500, 80%, #C0C0C0);
  padding: 12px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-in;
  padding-top: 8px;
  line-height: 8px;
  z-index: 201;
  border: 1px solid #c0c0c0;
  border-radius: 15px;
  box-shadow: -3px 3px 10px #818181;
}
.buttonMenu span {
  height: 3px;
  width: 100%;
  background: #2B2B2B;
  display: inline-block;
  transition: all 0.5s cubic-bezier(0.62, 0.43, 0.35, 1.47);
}
#check:checked + .buttonMenu {
  background: linear-gradient(to top right, #C0C0C0, 80%, #FFB500);
}
#check:checked + .buttonMenu span:nth-child(1) {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
#check:checked + .buttonMenu span:nth-child(2) {
  width: 0;
}
#check:checked + .buttonMenu span:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px) translateX(7px);
}
/*Menu Ouvert*/
nav {
  transition: all 0.4s ease;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 0;
  padding: 0 5px;
  border-radius: 0 0 20px 20px;
}
#check:checked ~ nav {
  background-color: #2b2b2b;
  height: 248px;
}
nav a {
  text-decoration: none;
  font-size: 22px;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  transform: scale(0);
  transform-origin: top;
  width: 100%;
  text-align: center;
  display: block;
}
#check:checked ~ nav a {
  border-radius: 15px;
  background-color: #FFB500;
  color: #2B2B2B;
  font-weight: 600;
  padding: 8px;
  opacity: 1;
  transform: scale(1);
  border: 1px solid #C0C0C0;
  margin: 5px 0px;  
}
#check:checked ~ nav a:hover {
  background-color: #C0C0C0;
  color: #2b2b2b;
  border: 1px solid #2B2B2B;
}
#check:checked ~ nav a.menu-active {
  background-color: #2B2B2B;
  color: #FFB500;
}
#check:checked ~ nav a.menu-active:hover {
  background-color: #C0C0C0;
  color: #2B2B2B;
  border: 1px solid #2b2b2b;
}
/*Footer*/
footer {
  background-color: #404040;
  border-top: 3px solid #FFB500;
  color: #fff;
  margin-top: 30px;
  width: 100%;
  padding:0 5px;
}
footer a {
  color: #fff;
  padding: 5px;
}
footer a:hover {
  color: #FFB500;
  transition: all 400ms ease-out;
  transform: scale(1.1);
}
.fa-linkedin{
  margin: 10px 5px 10px 10px;
  font-size: 32px;
}
.fa-github{
  margin: 10px 5px;
  font-size: 32px;
}
.fa-discord {
  margin: 10px 5px;
  font-size: 32px;
}
.fa-youtube {
  margin: 10px 5px;
  font-size: 36px;
}
.pictoAlig{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer li a {
  margin: 0 8px;
  font-size: 14px;
}
.copyrigth {
  font-size: 10px;
  padding: 10px 0;
}

/*Top Button*/
.back-to-top {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  color: #2B2B2B;
  background-color: #C0C0C0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 10px;
  box-shadow: -3px 3px 10px #818181;
  transition: all 0.3s, color 0.3s;
  opacity: 0.6;
}
.back-to-top:active {
  background-color: #FFB500;
  box-shadow: none;
}












/*Mobile style*/
/*Accueil section*/
/*Title accueil*/
.accueil-title {
  padding-top: 150px;
}
h1 {
  padding-top: 90px;
  margin-bottom: 20px;
}
/*Photo de profil*/
.accueil-img{
  width: 50%;
}
/*Telechargement bouton*/
.telecharger {
  display: inline-block;
  background: linear-gradient(to top right, #FFB500, 70%, #C0C0C0);
  color: #2B2B2B;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  box-shadow: -3px 3px 10px #818181;
  transition: all 0.3s ease-in;
  }
.telecharger:hover {
  box-shadow: none;
  background: linear-gradient(to top right, #C0C0C0, 70%, #FFB500);
}

/*Ecard sections*/
section {
    padding: 0 10px;
}
hr {
  height: 1px;
  background-color: #c0c0c0;
  margin: 90px auto 20px auto;
  width: 70%;
}


/*Portfolio section*/
/*Portfolio title*/
#portfolio h2 {
  margin-bottom: 10px;
}
/*All project portfolio*/
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  max-width: 350px;
  margin: auto;
}
/*Border projects*/
.img1 img {
  border-radius: 20px 20px 0 0;
}
.img1b {
  border-radius: 20px 20px 0 0;
}
.img6 img {
border-radius: 0 0 20px 20px;
}
.img6b, .portfolio-button-bottom6 {
  border-radius: 0 0 20px 20px;
}
/*card size*/
#portfolio img {
width: 300px;
height: 300px;
border: 1px #c0c0c0 solid;
padding: 5px;
}
/*card project*/
#portfolio .flip-card {
display: inline-block;
background-color: transparent;
perspective: 1000px;
}
#portfolio .flip-card-inner {
width: 300px;
height: 300px;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}
#portfolio .flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}
#portfolio .flip-card-front,#portfolio .flip-card-back {
position: absolute;
width: 300px;
height: 300px;
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
white-space: normal;
}
/*verso card project*/
#portfolio h3 {
padding: 10px 0;
}
#portfolio p {
margin: 5px;
}
#portfolio .flip-card-back {
background-color: #fff;
color: #000;
transform: rotateY(180deg);
padding: 5px;
}
/*Bouton link project*/
#portfolio .portfolio-button {
background: linear-gradient(to top right, #FFB500, 70%, #C0C0C0);
color: #000;
padding: 10px 20px;
text-align: center;
text-decoration: none;
font-size: 16px;
font-weight: bold;
border: none;
cursor: pointer;
transition: transform 0.3s ease;
display: block;
position: absolute;    
bottom: 0;
margin: 0 0 0 -5px;
width: 100%;
transition: 400ms ease-out;
}
#portfolio .portfolio-button:hover {
  box-shadow: none;
  background: linear-gradient(to top right, #C0C0C0, 70%, #FFB500);
}


/*Services section*/
/*Ecard article*/
#services article {
  margin: 20px 0;
  }
  /*Picto article*/
  .fa-diagram-project,.fa-paintbrush,.fa-desktop,.fa-comments,.fa-code,.fa-magnifying-glass {
    color: #ffb500;
    height: 30px;
    width: 30px;
  }


/*A propos section*/
/*Carousel*/
#apropos .logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
#apropos .logos:before,.logos:after {
  position: absolute;
  top: 0;
  content: "";
  z-index: 1;
}
#apropos .logos:hover .logos-slide {
  animation-play-state: paused;
}
#apropos .logos-slide {
  display: inline-block;
  animation: 15000ms slide infinite linear;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/*carouseil images*/
#apropos .logos-slide img {
  margin: 20px 10px 0 10px;
  height: 80px;
  padding: 5px;
}
/*Tab image opacite defil*/
.logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(3, 3, 3, 0), #2b2b2b);
}
.logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(3, 3, 3, 0), #2b2b2b);
}
.logos:before,
  .logos:after {
    width: 50px;
    height: 100%;
}


/*Contact section*/
/*Picto contact*/
.fa-phone, .fa-envelope, .fa-location-dot {
    height: 30px;
    width: 30px;
    margin: 0px 0;
    color: #FFB500;
}
#contact a {
    color: #fff;
}
#contact a:hover {
    transition: all 400ms ease-out;
    color:#FFB500;
    opacity: 0.7;
  }
.contact-tel, .contact-mail, .localisation {
    padding: 10px 0;
}
/*Map contact*/
iframe {
    width: 80%;
    height: 200px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}














/*Tab style*/
@media (min-width: 768px) {


  /* Header tab */
  header {
    position: relative;
  }


  /*Tab Accueil section*/
  /*Tab Title accueil*/
  .accueil-title {
    padding-top: 0px;
  }
  h1 {
    padding-top: 50px;
  }
  /*Photo de profil*/
  .accueil-img{
    width: 300px;
  }


  /*Tab Portfolio section*/
  /*Tab All project portfolio*/
  .cards {
    max-width: 700px;
  }
  /*Tab Border projects*/
  .img1 img {
    border-radius: 20px 0 0 0;
  }
  .img1b {
    border-radius: 0 20px 0 0;
  }
  .img2 img {
    border-radius: 0 20px 0 0;
  }
  .img2b {
    border-radius: 20px 0 0 0;
  }
  .img5 img {
    border-radius: 0 0 0 20px;
  }
  .img5b, .portfolio-button-bottom5 {
    border-radius: 0 0 20px 0;
  }
  .img6 img {
  border-radius: 0 0 20px 0;
  }
  .img6b, .portfolio-button-bottom6 {
    border-radius: 0 0 0 20px;
  }


  /*Tab Services section*/
  /*Tab Ecard article*/
  #services article {
    display: flex;
    align-items: center;
    margin: 20px auto 20px auto;
    width: 400px;
    }
  /*Tab Picto article*/
  .fa-diagram-project,.fa-paintbrush,.fa-desktop,.fa-comments,.fa-code,.fa-magnifying-glass {
    margin:0 0 0 -60px;
    padding: 20px;
    }


  /*Tab A propos section*/
  /*Tab presentation*/
  #apropos article {
    width: 700px;
    margin: auto;
  }
  /*Tab image opacite defil*/
  .logos:before,.logos:after {
      width: 300px;
    }
    /*end tab style*/
}















  /*Desktop style*/
  @media (min-width: 1024px) {

  /*Desk Elements Bases*/
  /*Desk footer*/
  .buttonMenu {
    display: none;
    position: absolute;
  }
  header {
    height: 200px;
    border: none;
  }
  header a {
    width: 100%;
  }
  header p {
    font-size: 40px;
    font-weight: 900;
    margin-top: -50px;
  }
  .logo {
    width: 150px;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top:0
  }
  footer {
    position: absolute;
    left: 0;
    right: 0;
  }

  /*Desk barre de menu*/
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:170px 0 0 0;
    padding: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
  }
  nav a {
    opacity: 1;
    transform: scale(1);
    display: block;
    border-radius: 10px;
    border: 1px solid #C0C0C0;
    background-color: #FFB500;
    color: #2B2B2B;
    font-weight: 600;
    font-size: 15px;
    padding: 8px 0px;
    margin: 0 5px;
    box-shadow: -3px 3px 10px #818181;
  }
  nav a:hover {
    background-color: #c0c0c0;
    border: 1px solid #2B2B2B;
    box-shadow: none;
  }


  /*Desk Accueil section*/
  /*Desk Title accueil*/
  .accueil-title {
    margin-top: -90px;
    padding-top: 50px;
  }

  /*Desk Portfolio section*/
  /*Desk All project portfolio*/
  .cards {
    max-width: 1000px;
  }
  /*Desk Border projects*/
  .img2 img {
    border-radius: 0 0 0 0;
  }
  .img2b {
    border-radius: 0 0 0 0;
  }
  .img3 img {
    border-radius: 0 20px 0 0;
  }
  .img3b {
    border-radius:20px 0 0 0;
  }
  .img4 img {
    border-radius: 0 0 0 20px;
  }
  .img4b, .portfolio-button-bottom4{
    border-radius:0 0 20px 0;
  }
  .img5 img {
    border-radius: 0 0 0 0;
  }
  .img5b, .portfolio-button-bottom5 {
    border-radius: 0 0 0 0;
  }


  /*Desk Services section*/
  /*Desk Ecard article*/
  .services-flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
  }
  /*Desk Picto article*/
  .fa-diagram-project,.fa-paintbrush,.fa-desktop,.fa-comments,.fa-code,.fa-magnifying-glass {
    margin:0 0 0 -30px;
  }


  /*Desk A propos section*/
  /*Desk presentation*/
  #apropos article {
    width: 1000px;
  }


  /*Desk Contact*/
  /*Desk tel mail*/
  .tel-mail {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-mail, .contact-tel{
    margin: 0 100px -90px 100px;
    width: 500px;
  }
/*End desk*/       
    }